{% import "@VSApplication/Macros/tree.html.twig" as vs_tree %}

<div class="form-group" id="CategoriesFormGroup">
    {{ form_label( form.category_taxon, null, {
        'label_attr': {'class': 'form-label required'}
        }) 
    }}
    
    {# Documentation: https://www.jeasyui.com/documentation/combotree.php #}
    {% if item is defined and item.id %}{% set itemId = item.id %}{% else %}{% set itemId = 0 %}{% endif %}
    {% set comboDataSourceUrl  = url('vvp_videos_tree_combo_with_selected', {'taxonomyId': taxonomyId, 'videoId': itemId}) %}
    {% set comboTreePlaceholder = 'vs_cms.form.page.categories_placeholder' | trans( {},'VSCmsBundle' ) %}
    
    {# Using Twig Initialization Of Combotree #}
    {#  
    {{ vs_tree.easyuiCombobox( form.category_taxon, comboDataSourceUrl, itemId,
        {
            'required': 'true',
            'multiple': 'true',
            'checkbox': 'true',
            'placeholder': comboTreePlaceholder
        }
    ) }}
    #}
    
    {# Using JavaScript Initialization Of Combotree #}
    {# 'data-url': comboDataSourceUrl, #}
    {{ form_widget(form.category_taxon, {'attr': {
        'class': 'form-select',
        'data-placeholder': comboTreePlaceholder
    }}) }}
    
</div>