{% if settingsIndex is defined %}
    {% set settingsKey      = ( form.vars.value | keys )[settingsIndex] %}
    {% set settingsValue    = form.vars.value[settingsKey] %}
{% else %}
    {% set settingsKey      = '' %}
    {% set settingsValue    = '' %}
{% endif %}

<div class="row mb-2">
    <div class="col-lg-2">
        {{ form_widget(form.settingsKey, {'attr': {'class': 'form-control fieldSettingsKey'}, 'value': settingsKey}) }}
    </div>
    
    <div class="col-lg-8">
        {{ form_widget(form.settingsValue, {'attr': {'class': 'form-control fieldSettingsValue'}, 'value': settingsValue}) }}
    </div>

	<div class="col-lg-2">
	    <a href="javascript:;" class="btn btn-success btnAddField"><i class="icon_plus_alt2"></i></a>
	    <a href="javascript:;" class="btn btn-danger btnRemoveField"><i class="icon_close_alt2"></i></a>
	</div>
</div>
