<div class="jumbotron">
    <div class="container" id="VideoPlayerContainer">
    
        <div class="form-group">
            <label for="video-player-select-format">Select Format</label>:&nbsp;&nbsp;
            <select id="video-player-select-format"></select>
        </div>
        
        {{ player | raw }}
        
    </div>
</div>