<div class="row">
    <!-- section title -->
    <div class="col-12">
        <h2 class="section__title section__title--sidebar">{{ 'vs_vvp.template.movies.suggestions_title' | trans( {},'VanzVideoPlayer' ) }}</h2>
    </div>
    <!-- end section title -->
</div>

<div class="row" id="videoSuggestionsContainer"></div>