<div class="row mb-2">
    <div class="col-lg-4">
        {{ form_widget(form.format, {'attr': {'class': 'form-control fieldFormat'}}) }}
    </div>

	<div class="col-lg-2">
	    <a href="javascript:;" class="btn btn-success btnAddField"><i class="icon_plus_alt2"></i></a>
	    <a href="javascript:;" class="btn btn-danger btnRemoveField"><i class="icon_close_alt2"></i></a>
	</div>
</div>
