{% extends 'base.html.twig' %}

{% block content %}

    {% include 'pages/YoutubePlayer/partial/_video-player.html.twig' %}

    <div class="container">
        <div class="row">
            {% for video in videos %}
                {% include 'pages/YoutubePlayer/partial/_video.html.twig' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags( 'js/youtube-player', null, 'ApplicationSimpleTheme' ) }}
{% endblock %}
